<!DOCTYPE html>
<html>
  <head>
    <title>Loloblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,600,700|Josefin+Slab:300,400,600,700" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="sidebar">
      <div id="logo">
        <%= link_to root_path do %>
          <%# <%= image_tag "logo.png" %>
        <% end %>
      </div>
      <ul>
        <li class="category">Mes Sites Web</li>
        <li><%= link_to "Blog", root_path %>  </li>
        <li>A propos de Moi</li>
      </ul>
      <ul>
        <li class="category">Mon Réseau</li>
        <li> <a href="https://www.facebook.com/lolo.indochine">Facebook</a> </li>
        <li> <a href="https://github.com/OLIMBOLOIC">Github</a> </li>
        <%# <li> <a href="#"></a> </li>
      <li> <a href="#"></a> </li> %>
      </ul>
        <p class="sign_in">Se Connecter (Admin)</p>
    </div>
    <div id="main_content">
      <div id="header">
      <p>Tous les posts</p>
      <div class="buttons">
        <button class="button"><%= link_to "Nouveau Post", new_post_path  %></button>
        <button class="button">Se déconnecter</button>
      </div>
      </div>
      
    <%= yield %>
    </div>
  
  </body>
</html>
